div.project.card {
    color: #003466;
    background-color: white;
    border-color: #F1B300;
    border-width: 0.5em;
    margin: 1em;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    color: #F1B300 !important;
    text-decoration: underline;
}