header {
    background-color: #F1B300;
    padding: 1em;
}

#title {
    font-size: 7em;
    color: #003466;
}

#subtitle {
    font-size:1.1em;
    color: #003466;
}

a {
    text-decoration: none !important;
    font-size: 1.5em;
    color: #003466 !important;
}